#content {
    main {
        padding: 2.5%;

        #daySelector {
            background-color: var(--base);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid var(--primary);
            position: sticky;
            top: 0;
            z-index: 1;

            .ds-item {
                width: 33.33%;
                padding: 2.5%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .dsi-selected {
                background-color: var(--primary);

                p {
                    color: var(--base);
                }
            }
        }

        #lineupGrid {
            margin-top: .5svh;
            display: grid;
            grid-column-gap: 1%;
            grid-row-gap: .5svh;
            grid-template-columns: 49.5% 49.5%;

            .actCard {
                width: 100%;
                display: flex;
                flex-direction: column;

                .actImg {
                    aspect-ratio: 1/1;
                    width: 100%;
                    object-fit: cover;
                }

                .actNameDiv {
                    width: 100%;
                    height: 4rem;
                    background-color: var(--secondary);
                    padding: 3%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    .actName {
                        color: #FFFFFF;
                        font-weight: bold;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

#actInfoModal {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: var(--base);
    transition: .25s ease;

    #aim-content {
        height: 100svh;

        #aim-header {
            height: 10%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2.5% 1%;

            p {
                color: #FFFFFF;
            }

            #aimh-logoDiv {
                width: 15%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: left;
                text-decoration: none;

                #aimh-logo {
                    aspect-ratio: 1/1;
                    height: 90%;
                    outline: none;
                }

                #aimh-logo-text {
                    font-size: 1.5rem;
                }
            }

            #aimh-pageName {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }

            #aimh-aimClose {
                width: 15%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: right;
                text-decoration: none;
                padding-right: 2.5%;

                #aimh-aimCloseIcon {
                    aspect-ratio: 1/1;
                    height: 40%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: .65;

                    img {
                        aspect-ratio: 1/1;
                        width: 90%;
                    }
                }
            }
        }

        #aim-main {
            height: 90%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
                width: 0;
            }

            #aim-cover {
                position: relative;

                #aim-coverImg {
                    aspect-ratio: 16/9;
                    width: 100%;
                    object-fit: cover;
                }

                #aim-genreDiv {
                    position: absolute;
                    top: 3%;
                    left: 2%;
                    background-color: var(--secondary);
                    padding: 1% 2%;
                    border-radius: 3px;

                    #aim-genre {
                        color: #FFFFFF;
                    }
                }
            }

            #aimm-content {
                padding: 2%;

                .subTitle {
                    font-weight: bold;
                    font-size: 1.3rem;
                    margin-bottom: 2.5%;
                }

                #aim-act-profile {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin-bottom: 4%;

                    #aim-imgDiv {
                        width: 27.5%;

                        #aim-img {
                            aspect-ratio: 1/1;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                            position: sticky;
                            top: .5%;
                        }
                    }

                    #aim-actInfo {
                        width: 70%;

                        #aim-title {
                            font-size: 1.5rem;
                            font-weight: bold;
                            margin-bottom: 2.5%;
                        }
                    }
                }

                #aim-actShows-repeater {
                    width: 100%;
                    margin-bottom: 5%;

                    .aim-showCard {
                        padding: 5% 2.5%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 5px;

                        p {
                            color: #FFFFFF;
                        }

                        .aim-stageName {
                            font-weight: bold;
                            font-size: 1.1rem;
                            width: 42.5%;
                        }

                        .aim-times {
                            text-align: right;
                            width: 56.5%;
                        }
                    }
                }

                #aim-video {
                    aspect-ratio: 16/9;
                    width: 100%;
                    border-radius: 5px;
                    margin-bottom: 2.5%;
                }
            }
        }
    }
}