#settings {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100svh;
    z-index: 1001;
    background-color: var(--base);
    transition: .25s ease;

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.5% 1%;

        p {
            color: #FFFFFF;
        }

        #sh-logoDiv {
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: left;
            text-decoration: none;

            #sh-logo {
                aspect-ratio: 1/1;
                height: 90%;
                outline: none;
            }

            #sh-logo-text {
                font-size: 1.5rem;
            }
        }

        #sh-pageName {
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

        #sh-settings {
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: right;
            text-decoration: none;
            padding-right: 2.5%;

            #sh-settingsIcon {
                aspect-ratio: 1/1;
                height: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: .65;

                img {
                    aspect-ratio: 1/1;
                    width: 90%;
                }
            }
        }
    }

    main {
        padding: 2%;

        #s-options {
            padding: 2% 1% 2% 0;

            .so-item {
                .soi-title {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5% 0;
                    border-bottom: 2px solid var(--primary);

                    p {
                        font-weight: bold;
                        font-size: 1.1rem;
                    }

                    .arrow {
                        border: solid var(--primary);
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 3px;
                        /*transition: .5s ease;*/
                    }

                    .right {
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                    }

                    .left {
                        transform: rotate(135deg);
                        -webkit-transform: rotate(135deg);
                    }

                    .up {
                        transform: rotate(-135deg);
                        -webkit-transform: rotate(-135deg);
                    }

                    .down {
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                }

                .soi-content {
                    height: 0;
                    overflow: hidden;
                    transition: .5s ease;
                    padding: 0 .5% 0 1.5%;

                }

                .soic-open {
                    height: fit-content;
                    padding: 1.5% .5% 1.5% 1.5%;
                }
            }
        }

        #s-deviceInfo {
            padding: 2.5% 0;

            h3 {
                margin-bottom: 1.5%;
            }
        }
    }
}